LocalDev/.vs/LocalDev/v16/.suo
LocalDev/.vs/LocalDev/v16/Server/sqlite3/db.lock
LocalDev/.vs/LocalDev/v16/Server/sqlite3/storage.ide
LocalDev/.vs/LocalDev/v16/Server/sqlite3/storage.ide-shm
LocalDev/.vs/LocalDev/v16/Server/sqlite3/storage.ide-wal
LocalDev/LocalDev/bin/Debug/DevExpress.Data.v19.1.dll
LocalDev/LocalDev/bin/Debug/DevExpress.Data.v19.1.xml
LocalDev/LocalDev/bin/Debug/DevExpress.Images.v19.1.dll
LocalDev/LocalDev/bin/Debug/DevExpress.Office.v19.1.Core.dll
LocalDev/LocalDev/bin/Debug/DevExpress.Office.v19.1.Core.xml
LocalDev/LocalDev/bin/Debug/DevExpress.Pdf.v19.1.Core.dll
LocalDev/LocalDev/bin/Debug/DevExpress.Pdf.v19.1.Core.xml
LocalDev/LocalDev/bin/Debug/DevExpress.Printing.v19.1.Core.dll
LocalDev/LocalDev/bin/Debug/DevExpress.Printing.v19.1.Core.xml
LocalDev/LocalDev/bin/Debug/DevExpress.RichEdit.v19.1.Core.dll
LocalDev/LocalDev/bin/Debug/DevExpress.RichEdit.v19.1.Core.xml
LocalDev/LocalDev/bin/Debug/DevExpress.Sparkline.v19.1.Core.dll
LocalDev/LocalDev/bin/Debug/DevExpress.Sparkline.v19.1.Core.xml
LocalDev/LocalDev/bin/Debug/DevExpress.Utils.v19.1.dll
LocalDev/LocalDev/bin/Debug/DevExpress.Utils.v19.1.xml
LocalDev/LocalDev/bin/Debug/DevExpress.XtraBars.v19.1.dll
LocalDev/LocalDev/bin/Debug/DevExpress.XtraBars.v19.1.xml
LocalDev/LocalDev/bin/Debug/DevExpress.XtraEditors.v19.1.dll
LocalDev/LocalDev/bin/Debug/DevExpress.XtraEditors.v19.1.xml
LocalDev/LocalDev/bin/Debug/DevExpress.XtraGrid.v19.1.dll
LocalDev/LocalDev/bin/Debug/DevExpress.XtraGrid.v19.1.xml
LocalDev/LocalDev/bin/Debug/DevExpress.XtraLayout.v19.1.dll
LocalDev/LocalDev/bin/Debug/DevExpress.XtraLayout.v19.1.xml
LocalDev/LocalDev/bin/Debug/DevExpress.XtraPrinting.v19.1.dll
LocalDev/LocalDev/bin/Debug/DevExpress.XtraPrinting.v19.1.xml
LocalDev/LocalDev/bin/Debug/DevExpress.XtraTreeList.v19.1.dll
LocalDev/LocalDev/bin/Debug/DevExpress.XtraTreeList.v19.1.xml
LocalDev/LocalDev/bin/Debug/EntityFramework.dll
LocalDev/LocalDev/bin/Debug/EntityFramework.SqlServer.dll
LocalDev/LocalDev/bin/Debug/EntityFramework.SqlServer.xml
LocalDev/LocalDev/bin/Debug/EntityFramework.xml
LocalDev/LocalDev/bin/Debug/LocalDev.exe
LocalDev/LocalDev/bin/Debug/LocalDev.exe.config
LocalDev/LocalDev/bin/Debug/LocalDev.pdb
LocalDev/LocalDev/bin/Debug/de/DevExpress.Data.v19.1.resources.dll
LocalDev/LocalDev/bin/Debug/de/DevExpress.Office.v19.1.Core.resources.dll
LocalDev/LocalDev/bin/Debug/de/DevExpress.Pdf.v19.1.Core.resources.dll
LocalDev/LocalDev/bin/Debug/de/DevExpress.Printing.v19.1.Core.resources.dll
LocalDev/LocalDev/bin/Debug/de/DevExpress.RichEdit.v19.1.Core.resources.dll
LocalDev/LocalDev/bin/Debug/de/DevExpress.Sparkline.v19.1.Core.resources.dll
LocalDev/LocalDev/bin/Debug/de/DevExpress.Utils.v19.1.resources.dll
LocalDev/LocalDev/bin/Debug/de/DevExpress.XtraBars.v19.1.resources.dll
LocalDev/LocalDev/bin/Debug/de/DevExpress.XtraEditors.v19.1.resources.dll
LocalDev/LocalDev/bin/Debug/de/DevExpress.XtraGrid.v19.1.resources.dll
LocalDev/LocalDev/bin/Debug/de/DevExpress.XtraLayout.v19.1.resources.dll
LocalDev/LocalDev/bin/Debug/de/DevExpress.XtraPrinting.v19.1.resources.dll
LocalDev/LocalDev/bin/Debug/de/DevExpress.XtraTreeList.v19.1.resources.dll
LocalDev/LocalDev/bin/Debug/es/DevExpress.Data.v19.1.resources.dll
LocalDev/LocalDev/bin/Debug/es/DevExpress.Office.v19.1.Core.resources.dll
LocalDev/LocalDev/bin/Debug/es/DevExpress.Pdf.v19.1.Core.resources.dll
LocalDev/LocalDev/bin/Debug/es/DevExpress.Printing.v19.1.Core.resources.dll
LocalDev/LocalDev/bin/Debug/es/DevExpress.RichEdit.v19.1.Core.resources.dll
LocalDev/LocalDev/bin/Debug/es/DevExpress.Sparkline.v19.1.Core.resources.dll
LocalDev/LocalDev/bin/Debug/es/DevExpress.Utils.v19.1.resources.dll
LocalDev/LocalDev/bin/Debug/es/DevExpress.XtraBars.v19.1.resources.dll
LocalDev/LocalDev/bin/Debug/es/DevExpress.XtraEditors.v19.1.resources.dll
LocalDev/LocalDev/bin/Debug/es/DevExpress.XtraGrid.v19.1.resources.dll
LocalDev/LocalDev/bin/Debug/es/DevExpress.XtraLayout.v19.1.resources.dll
LocalDev/LocalDev/bin/Debug/es/DevExpress.XtraPrinting.v19.1.resources.dll
LocalDev/LocalDev/bin/Debug/es/DevExpress.XtraTreeList.v19.1.resources.dll
LocalDev/LocalDev/bin/Debug/ja/DevExpress.Data.v19.1.resources.dll
LocalDev/LocalDev/bin/Debug/ja/DevExpress.Office.v19.1.Core.resources.dll
LocalDev/LocalDev/bin/Debug/ja/DevExpress.Pdf.v19.1.Core.resources.dll
LocalDev/LocalDev/bin/Debug/ja/DevExpress.Printing.v19.1.Core.resources.dll
LocalDev/LocalDev/bin/Debug/ja/DevExpress.RichEdit.v19.1.Core.resources.dll
LocalDev/LocalDev/bin/Debug/ja/DevExpress.Sparkline.v19.1.Core.resources.dll
LocalDev/LocalDev/bin/Debug/ja/DevExpress.Utils.v19.1.resources.dll
LocalDev/LocalDev/bin/Debug/ja/DevExpress.XtraBars.v19.1.resources.dll
LocalDev/LocalDev/bin/Debug/ja/DevExpress.XtraEditors.v19.1.resources.dll
LocalDev/LocalDev/bin/Debug/ja/DevExpress.XtraGrid.v19.1.resources.dll
LocalDev/LocalDev/bin/Debug/ja/DevExpress.XtraLayout.v19.1.resources.dll
LocalDev/LocalDev/bin/Debug/ja/DevExpress.XtraPrinting.v19.1.resources.dll
LocalDev/LocalDev/bin/Debug/ja/DevExpress.XtraTreeList.v19.1.resources.dll
LocalDev/LocalDev/bin/Debug/ru/DevExpress.Data.v19.1.resources.dll
LocalDev/LocalDev/bin/Debug/ru/DevExpress.Office.v19.1.Core.resources.dll
LocalDev/LocalDev/bin/Debug/ru/DevExpress.Pdf.v19.1.Core.resources.dll
LocalDev/LocalDev/bin/Debug/ru/DevExpress.Printing.v19.1.Core.resources.dll
LocalDev/LocalDev/bin/Debug/ru/DevExpress.RichEdit.v19.1.Core.resources.dll
LocalDev/LocalDev/bin/Debug/ru/DevExpress.Sparkline.v19.1.Core.resources.dll
LocalDev/LocalDev/bin/Debug/ru/DevExpress.Utils.v19.1.resources.dll
LocalDev/LocalDev/bin/Debug/ru/DevExpress.XtraBars.v19.1.resources.dll
LocalDev/LocalDev/bin/Debug/ru/DevExpress.XtraEditors.v19.1.resources.dll
LocalDev/LocalDev/bin/Debug/ru/DevExpress.XtraGrid.v19.1.resources.dll
LocalDev/LocalDev/bin/Debug/ru/DevExpress.XtraLayout.v19.1.resources.dll
LocalDev/LocalDev/bin/Debug/ru/DevExpress.XtraPrinting.v19.1.resources.dll
LocalDev/LocalDev/bin/Debug/ru/DevExpress.XtraTreeList.v19.1.resources.dll
LocalDev/LocalDev/dll/Telerik.Reporting.dll
LocalDev/LocalDev/dll/Telerik.ReportViewer.WinForms.dll
LocalDev/LocalDev/dll/Telerik.WinControls.dll
LocalDev/LocalDev/dll/Telerik.WinControls.GridView.dll
LocalDev/LocalDev/dll/Telerik.WinControls.RadDock.dll
LocalDev/LocalDev/dll/Telerik.WinControls.Themes.TelerikMetro.dll
LocalDev/LocalDev/dll/Telerik.WinControls.UI.dll
LocalDev/LocalDev/dll/TelerikCommon.dll
LocalDev/LocalDev/dll/TelerikData.dll
LocalDev/LocalDev/obj/Debug/DesignTimeResolveAssemblyReferences.cache
LocalDev/LocalDev/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LocalDev/LocalDev/obj/Debug/LocalDev.csproj.CopyComplete
LocalDev/LocalDev/obj/Debug/LocalDev.csproj.FileListAbsolute.txt
LocalDev/LocalDev/obj/Debug/LocalDev.csproj.GenerateResource.cache
LocalDev/LocalDev/obj/Debug/LocalDev.exe
LocalDev/LocalDev/obj/Debug/localdev.exe.licenses
LocalDev/LocalDev/obj/Debug/LocalDev.Migrations.initialdatabase.resources
LocalDev/LocalDev/obj/Debug/LocalDev.pdb
LocalDev/LocalDev/obj/Debug/LocalDev.Properties.Resources.resources
LocalDev/LocalDev/obj/Debug/LocalDev.View.Home.frmMain.resources
LocalDev/LocalDev/obj/Debug/LocalDev.View.Home.frmSignIn.resources
LocalDev/LocalDev/obj/Debug/LocalDev.View.Users.frmUsers.resources
LocalDev/LocalDev/obj/Debug/LocalDev.View.Users.frmUsersAddEdit.resources
LocalDev/LocalDev/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
