<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LocalDev.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="data source=.;initial catalog=LocalDevDB;user id=sa;password=123;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="data source=.\SQLEXPRESS;initial catalog=LocalDevDB;user id=sa;password=123;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Server=localdevsv.database.windows.net;Database=LocalDevDB;User ID=sa1;Password=Btmv@1805;Trusted_Connection=False;Encrypt=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <LocalDev.Properties.Settings>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="KeepMeSignedIn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Company" serializeAs="String">
        <value>LocalDev</value>
      </setting>
      <setting name="Phone" serializeAs="String">
        <value />
      </setting>
      <setting name="Address" serializeAs="String">
        <value />
      </setting>
      <setting name="Language" serializeAs="String">
        <value>0</value>
      </setting>
    </LocalDev.Properties.Settings>
  </userSettings>
</configuration>